/*reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main__index .contenedorindex, .section__index .iframe .iframe__video, .main__pages .contenedorarticulos__pages {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.header__index nav .navcontenedor-estilo .divmenu__index .divcontenedor-navbarlogos .togglerindex-estilo li a .size-logos, .header__pages .contenedorheader__pages nav div .divcontenedor-navbarlogos ul li a .size-logos {
  width: 3rem;
  height: 3rem;
  border-radius: 0; }

.main__pages .contenedorarticulos__pages .articulouno__pages, .main__pages .contenedorarticulos__pages .articulodos__pages, .main__pages .contenedorarticulos__pages .articulotres__pages {
  background-color: white;
  font-family: 'Mulish', sans-serif;
  height: auto;
  width: 20rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.main__pages .contenedorarticulos__pages .articulouno__pages h2, .main__pages .contenedorarticulos__pages .articulodos__pages h2, .main__pages .contenedorarticulos__pages .articulotres__pages h2 {
  color: black;
  background-color: whitesmoke;
  margin-bottom: 1.87rem;
  font-weight: bold;
  font-size: 1.2rem; }

footer .footerredeslogo__img, .footer__pages .footerredeslogo__img {
  display: flex;
  justify-content: center; }

/* estilos header index */
.header__index nav .navcontenedor-estilo h1 img {
  height: 0; }

.header__index nav .navcontenedor-estilo .estilo-titulo {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  font-weight: bold; }

.header__index nav .navcontenedor-estilo .divmenu__index h2 {
  font-size: 0; }

.header__index nav .navcontenedor-estilo .divmenu__index .togglerindex-estilo {
  margin-top: 1rem;
  border-radius: 10px;
  background-color: white; }

/* estilos main index */
.main__index {
  background-color: #cbf5e8; }
  .main__index h2 {
    background-color: whitesmoke;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 0; }
  .main__index .contenedorindex {
    background-color: #cbf5e8;
    align-items: center; }
    .main__index .contenedorindex div {
      background-color: white;
      width: 20rem;
      height: 28rem;
      text-align: center;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem; }
      .main__index .contenedorindex div h2 {
        font-family: "Dosis", sans-serif;
        background-color: whitesmoke;
        width: 20rem; }
      .main__index .contenedorindex div img {
        width: 18rem;
        height: 10rem;
        margin: 1rem; }
      .main__index .contenedorindex div h3 {
        font-weight: bold;
        font-family: "Mulish", sans-serif;
        font-size: 0.85rem;
        background-color: #d0d0e7;
        width: auto;
        margin: 0 1.56rem 1.56rem 1.56rem; }
      .main__index .contenedorindex div p {
        font-family: "Jost", sans-serif;
        width: auto;
        font-size: 0.85rem;
        margin: 0 1.56rem 1.56rem 1.56rem; }

/* estilos section index*/
.section__index {
  background-color: #cbf5e8;
  height: auto;
  display: none; }
  .section__index .iframe {
    text-align: center;
    padding-top: 1.25rem;
    border-radius: 5px;
    margin-left: 1.25rem;
    margin-right: 1.25rem; }
    .section__index .iframe .iframe__titulo {
      font-family: "Mulish", sans-serif;
      background-color: whitesmoke; }
    .section__index .iframe .iframe__video {
      text-align: center; }

/* estilos footer index */
footer {
  padding-top: 0.5rem;
  padding-bottom: 1rem; }
  footer .textofooter__h4 {
    font-family: "Dosis", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center; }
  footer .footerredeslogo__img a img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1rem 0 1rem; }

/* mq pantalla tablet */
@media screen and (min-width: 768px) {
  .header__index nav .navcontenedor-estilo .estilo-titulo {
    padding-left: 5%; }
  .main__index .contenedorindex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "contenedor__noticiauno contenedor__noticiados" "contenedor__noticiatres contenedor__noticiacuatro" "contenedor__noticiacinco contenedor__noticiaseis";
    justify-content: center;
    gap: 1rem; }
    .main__index .contenedorindex div {
      width: 22rem;
      height: 29rem; }
      .main__index .contenedorindex div h2 {
        width: 22rem; }
      .main__index .contenedorindex div img {
        width: 20rem;
        height: 12rem;
        margin: 1rem; }
      .main__index .contenedorindex div h3 {
        font-size: 0.9rem;
        width: auto; }
      .main__index .contenedorindex div p {
        width: auto;
        font-size: 0.89rem; }
    .main__index .contenedorindex .contenedor__noticiauno {
      grid-area: contenedor__noticiauno; }
    .main__index .contenedorindex .contenedor__noticiados {
      grid-area: contenedor__noticiados; }
    .main__index .contenedorindex .contenedor__noticiatres {
      grid-area: contenedor__noticiatres; }
    .main__index .contenedorindex .contenedor__noticiacuatro {
      grid-area: contenedor__noticiacuatro; }
    .main__index .contenedorindex .contenedor__noticiacinco {
      grid-area: contenedor__noticiacinco; }
    .main__index .contenedorindex .contenedor__noticiaseis {
      grid-area: contenedor__noticiaseis; } }

/* mq pantalla escritorio home */
/*header*/
@media screen and (min-width: 1024px) {
  .header__index nav .navcontenedor-estilo h1 img {
    height: 5rem; }
  .header__index nav .navcontenedor-estilo .divmenu__index {
    margin-right: 5%;
    display: flex;
    align-items: center; }
    .header__index nav .navcontenedor-estilo .divmenu__index h2 {
      font-size: 1rem; }
    .header__index nav .navcontenedor-estilo .divmenu__index .divcontenedor-navbarlogos .togglerindex-estilo {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      margin-top: 0;
      font-family: "Dosis", sans-serif; }
      .header__index nav .navcontenedor-estilo .divmenu__index .divcontenedor-navbarlogos .togglerindex-estilo li a {
        transition: 0.5s; }
      .header__index nav .navcontenedor-estilo .divmenu__index .divcontenedor-navbarlogos .togglerindex-estilo li a:hover {
        transform: scale(1.1);
        transition: 0.3s; }
  /* mq de main index */
  .main__index h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .main__index .contenedorindex {
    background-image: url(../img/backgroundballgif.gif);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    display: flex;
    grid-template-areas: "contenedor__noticiauno contenedor__noticiados contenedor__noticiatres" "contenedor__noticiacuatro contenedor__noticiacinco contenedor__noticiaseis";
    gap: 1rem; }
    .main__index .contenedorindex div {
      margin-right: 2rem;
      margin-left: 2rem; }
      .main__index .contenedorindex div img {
        transition: 0.5s; }
      .main__index .contenedorindex div img:hover {
        transform: scale(1.1);
        transition: 0.3s; }
      .main__index .contenedorindex div p {
        font-size: 0.95rem; }
    .main__index .contenedorindex .contenedor__noticiauno {
      grid-area: contenedor__noticiauno; }
    .main__index .contenedorindex .contenedor__noticiados {
      grid-area: contenedor__noticiados; }
    .main__index .contenedorindex .contenedor__noticiatres {
      grid-area: contenedor__noticiatres; }
    .main__index .contenedorindex .contenedor__noticiacuatro {
      grid-area: contenedor__noticiacuatro; }
    .main__index .contenedorindex .contenedor__noticiacinco {
      grid-area: contenedor__noticiacinco; }
    .main__index .contenedorindex .contenedor__noticiaseis {
      grid-area: contenedor__noticiaseis; }
  /* mq section index */
  .section__index {
    background-image: linear-gradient(#cee9f0, white);
    display: block;
    padding-bottom: 1rem; }
    .section__index div .iframe__video {
      margin-top: 1rem; } }

.main__index .contenedorindex, .section__index .iframe .iframe__video, .main__pages .contenedorarticulos__pages {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.header__index nav .navcontenedor-estilo .divmenu__index .divcontenedor-navbarlogos .togglerindex-estilo li a .size-logos, .header__pages .contenedorheader__pages nav div .divcontenedor-navbarlogos ul li a .size-logos {
  width: 3rem;
  height: 3rem;
  border-radius: 0; }

.main__pages .contenedorarticulos__pages .articulouno__pages, .main__pages .contenedorarticulos__pages .articulodos__pages, .main__pages .contenedorarticulos__pages .articulotres__pages {
  background-color: white;
  font-family: 'Mulish', sans-serif;
  height: auto;
  width: 20rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.main__pages .contenedorarticulos__pages .articulouno__pages h2, .main__pages .contenedorarticulos__pages .articulodos__pages h2, .main__pages .contenedorarticulos__pages .articulotres__pages h2 {
  color: black;
  background-color: whitesmoke;
  margin-bottom: 1.87rem;
  font-weight: bold;
  font-size: 1.2rem; }

footer .footerredeslogo__img, .footer__pages .footerredeslogo__img {
  display: flex;
  justify-content: center; }

/* estilos paginas secundarias */
.header__pages .contenedorheader__pages {
  background-color: 177, 218, 205;
  height: auto;
  display: grid;
  flex-flow: row wrap;
  justify-items: center; }
  .header__pages .contenedorheader__pages div .banderaheader__pages {
    border-radius: 20px;
    margin: 0.5rem; }
  .header__pages .contenedorheader__pages div img {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 0px; }
  .header__pages .contenedorheader__pages .tittlepages__h1 h1 {
    color: black;
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.4rem;
    border-radius: 10px;
    background-color: #cbf5e8; }
  .header__pages .contenedorheader__pages nav {
    text-align: center; }
    .header__pages .contenedorheader__pages nav div .divcontenedor-navbarlogos ul li a {
      transition: 0.5s; }

/* estilos main pages */
.main__pages {
  background-color: #cbf5e8; }
  .main__pages .contenedorarticulos__pages {
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: auto;
    gap: 1rem; }
    .main__pages .contenedorarticulos__pages .articulouno__pages p {
      padding: 0.5rem; }
    .main__pages .contenedorarticulos__pages .articulodos__pages ul h3 {
      font-weight: bold;
      font-size: 1.2rem; }
    .main__pages .contenedorarticulos__pages .articulodos__pages ul li {
      list-style: none;
      text-align: initial;
      margin-left: 6.25rem; }
    .main__pages .contenedorarticulos__pages .articulodos__pages ul .trofeologo__img {
      margin-top: 1.25rem;
      border-radius: 1.25rem; }
    .main__pages .contenedorarticulos__pages .campeoneslogo__pages div {
      display: inline-block;
      flex-flow: row wrap; }
      .main__pages .contenedorarticulos__pages .campeoneslogo__pages div img {
        width: 3.2rem;
        height: 3.2rem; }
      .main__pages .contenedorarticulos__pages .campeoneslogo__pages div h5 {
        font-weight: bold;
        font-size: 0.85rem; }
    .main__pages .contenedorarticulos__pages .articulotres__pages p {
      padding: 0.5rem; }
    .main__pages .contenedorarticulos__pages .articulotres__pages img {
      padding-right: 2rem;
      padding-left: 2rem;
      border-radius: 20px;
      width: 100%; }

/* section pages */
.contenedorsection__pages h2 {
  background-color: whitesmoke;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0; }

.contenedorsection__pages .bestplayersimg__pages {
  display: block;
  font-family: "Mulish", sans-serif;
  background-color: #cbf5e8;
  align-items: center;
  text-align: center; }
  .contenedorsection__pages .bestplayersimg__pages div img {
    width: 14rem;
    height: 14rem; }
  .contenedorsection__pages .bestplayersimg__pages div .logofortablet__pages {
    visibility: hidden;
    position: absolute; }

/* section pages*/
.footer__pages {
  padding-top: 0.5rem;
  padding-bottom: 1rem; }
  .footer__pages .footerredeslogo__img {
    filter: grayscale(100%); }

/*mq paginas secundarias */
@media screen and (min-width: 768px) {
  .header__pages .contenedorheader__pages .tittlepages__h1 h1 {
    font-size: 1.8rem; }
  .main__pages .contenedorarticulos__pages .articulouno__pages .bonuspages__h2 {
    margin-top: 30%; }
  .main__pages .contenedorarticulos__pages .articulodos__pages .logosbundesliga__estilo {
    margin-top: 10%; }
  .main__pages .contenedorarticulos__pages .articulodos__pages .logospremier__estilo {
    margin-top: 15%; }
  .main__pages .contenedorarticulos__pages .articulotres__pages {
    visibility: hidden;
    position: absolute; }
  .contenedorsection__pages .bestplayersimg__pages div .logofortablet__pages {
    width: 6rem;
    height: 6rem;
    visibility: visible;
    position: relative; } }

@media screen and (min-width: 1024px) {
  .body__pages {
    display: grid;
    grid-template-columns: 3% 2fr 2fr 2fr;
    grid-template-rows: auto;
    background-color: #cbf5e8;
    grid-template-areas: "header__pages header__pages header__pages header__pages" "footer__pages main__pages main__pages main__pages" "footer__pages contenedorsection__pages contenedorsection__pages contenedorsection__pages"; }
    .body__pages .header__pages {
      background-color: #a1ebd3;
      grid-area: header__pages; }
      .body__pages .header__pages .contenedorheader__pages {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-right: 3rem;
        margin-left: 3rem; }
        .body__pages .header__pages .contenedorheader__pages div img {
          width: 5.25rem;
          height: 5.25rem; }
        .body__pages .header__pages .contenedorheader__pages .tittlepages__h1 h1 {
          font-size: 2.5rem; }
        .body__pages .header__pages .contenedorheader__pages nav .divcontenedor-navbarlogos ul li a {
          transition: 0.5s; }
        .body__pages .header__pages .contenedorheader__pages nav .divcontenedor-navbarlogos ul li a:hover {
          transform: scale(1.1);
          transition: 0.3s; }
    .body__pages .main__pages {
      grid-area: main__pages; }
      .body__pages .main__pages .contenedorarticulos__pages {
        gap: 0;
        padding-left: 2rem;
        padding-bottom: 2rem; }
        .body__pages .main__pages .contenedorarticulos__pages .articulouno__pages {
          font-size: 1.2rem;
          width: 24rem; }
          .body__pages .main__pages .contenedorarticulos__pages .articulouno__pages h2 {
            font-size: 1.4rem; }
        .body__pages .main__pages .contenedorarticulos__pages .articulodos__pages {
          font-size: 1.2rem;
          width: 24rem; }
          .body__pages .main__pages .contenedorarticulos__pages .articulodos__pages h2 {
            font-size: 1.4rem; }
        .body__pages .main__pages .contenedorarticulos__pages ul h3 {
          font-size: 1.4rem; }
        .body__pages .main__pages .contenedorarticulos__pages .campeoneslogo__pages div img {
          width: 5rem;
          height: 5rem;
          transition: 0.5s; }
        .body__pages .main__pages .contenedorarticulos__pages .campeoneslogo__pages div img:hover {
          transform: scale(1.1);
          transition: 0.3s; }
        .body__pages .main__pages .contenedorarticulos__pages .campeoneslogo__pages div h5 {
          font-size: 1rem; }
        .body__pages .main__pages .contenedorarticulos__pages .articulotres__pages {
          font-size: 1.2rem;
          width: 24rem;
          position: relative;
          visibility: visible; }
          .body__pages .main__pages .contenedorarticulos__pages .articulotres__pages h2 {
            font-size: 1.4rem; }
          .body__pages .main__pages .contenedorarticulos__pages .articulotres__pages img {
            transition: 0.5s; }
          .body__pages .main__pages .contenedorarticulos__pages .articulotres__pages img:hover {
            transform: scale(1.1);
            transition: 0.3s; }
    .body__pages .contenedorsection__pages {
      grid-area: contenedorsection__pages; }
      .body__pages .contenedorsection__pages h2 {
        margin-right: 5rem;
        margin-left: 5rem; }
      .body__pages .contenedorsection__pages .bestplayersimg__pages {
        display: flex;
        justify-content: center; }
        .body__pages .contenedorsection__pages .bestplayersimg__pages div img {
          transition: 0.5s;
          margin-bottom: 0.7rem;
          width: 16rem;
          height: 16rem; }
        .body__pages .contenedorsection__pages .bestplayersimg__pages div img:hover {
          transform: scale(1.1);
          transition: 0.3s; }
        .body__pages .contenedorsection__pages .bestplayersimg__pages div .logofortablet__pages {
          visibility: hidden;
          position: absolute; }
    .body__pages .footer__pages {
      grid-area: footer__pages;
      writing-mode: vertical-lr;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-around;
      margin: 3rem; }
      .body__pages .footer__pages .textofooter__h4 {
        transform: rotate(180deg);
        margin-top: 1.8; }
      .body__pages .footer__pages .footerredeslogo__img {
        transition: 0.5s; }
      .body__pages .footer__pages .footerredeslogo__img a:hover {
        transform: rotate(360deg);
        transition: 0.5s; } }

.main__index .contenedorindex, .section__index .iframe .iframe__video, .main__pages .contenedorarticulos__pages {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.header__index nav .navcontenedor-estilo .divmenu__index .divcontenedor-navbarlogos .togglerindex-estilo li a .size-logos, .header__pages .contenedorheader__pages nav div .divcontenedor-navbarlogos ul li a .size-logos {
  width: 3rem;
  height: 3rem;
  border-radius: 0; }

.main__pages .contenedorarticulos__pages .articulouno__pages, .main__pages .contenedorarticulos__pages .articulodos__pages, .main__pages .contenedorarticulos__pages .articulotres__pages {
  background-color: white;
  font-family: 'Mulish', sans-serif;
  height: auto;
  width: 20rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.main__pages .contenedorarticulos__pages .articulouno__pages h2, .main__pages .contenedorarticulos__pages .articulodos__pages h2, .main__pages .contenedorarticulos__pages .articulotres__pages h2 {
  color: black;
  background-color: whitesmoke;
  margin-bottom: 1.87rem;
  font-weight: bold;
  font-size: 1.2rem; }

footer .footerredeslogo__img, .footer__pages .footerredeslogo__img {
  display: flex;
  justify-content: center; }
