/*reset */

* {  
    margin:0;
    padding:0;
    box-sizing: border-box;
}


@import "base/variables";
@import "html/home.scss";
@import "html/paginas-secundarias.scss";
@import "base/extend";
@import "base/mixin";
