//mixin


@mixin medidas  ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin margen-y ($arriba, $abajo){
    margin-top: $arriba;
    margin-bottom: $abajo;
}

@mixin margen-x ($derecha,$izquierda){
    margin-right: $derecha;
    margin-left: $izquierda;
}

@mixin hover ($scale, $sg){
    transform: $scale;
    transition: $sg;
}

@mixin grid ($columns,$rows){
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin padding-y ($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin padding-x ($right, $left){
    padding-right: $right;
    padding-left: $left;
}