
// colores de background

$color-principal:rgb(203, 245, 232);
$color-secundario:whitesmoke;
$color-terciario: rgb(255, 255, 255);
$color-toggler-mq: rgb(187, 187, 187);
$color-headerpages-mq: rgb(161, 235, 211);
$color-headerpages-mobile:(177, 218, 205);
$color-h3: rgb(208, 208, 231);

//colores de texto

$color-textoprincipal:black; //3


// font-family

$texto-estilouno:'Mulish', sans-serif; //5
$texto-estilodos: 'Jost', sans-serif; //3
$texto-estilotres: 'Dosis', sans-serif;//3
$texto-estilocuatro:'Montserrat', sans-serif; //1

