@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";


/* estilos header index */

header{
    nav{
        .navcontenedor-estilo{
            h1{
                img{
                    height: 0;
                }
            }
            .estilo-titulo{
                font-family: $texto-estilouno;
                font-weight: bold;
                text-align: center;
            }
            .togglerindex-estilo{
                background-color:$color-principal;
                margin-top: 1rem;
                border-radius: 10px;   
            }
            .divcontenedor-navbarlogos{
                .togglerindex-estilo{
                    li{
                         a{
                            font-size: 0;
                            .size-logos{
                            @extend %size-logos;
                         }
                    }
                 }
             }
         } 
      }
   }
}

  /* estilos main index */

  .main__index{
    background-color: $color-principal;
    h2{
        background-color: $color-secundario ;
        font-family: $texto-estilodos;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }
    .contenedorindex{
        background-color: $color-principal;
        align-items: center;
        @extend %flex;
        div{
            background-color:$color-terciario;
            @include medidas (20rem,28rem);
            text-align: center;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            h2{
                font-family: $texto-estilotres;
                background-color: $color-secundario;
                width: 20rem;
            }
            img{
                @include medidas (18rem, 10rem);
                margin: 1rem;
            }
            h3{
                font-weight: bold;
                font-family: $texto-estilouno;
                font-size: 0.85rem;
                background-color: $color-h3;
                width: auto;
                margin: 0 1.56rem 1.56rem 1.56rem;
            }
            p{
                font-family: $texto-estilodos;
                width: auto;
                font-size: 0.85rem;
                margin: 0 1.56rem 1.56rem 1.56rem;
            }
        }

    }
  }

  /* estilos section index*/

.section__index{
    background-color:$color-principal;
    height: auto;
    display: none;
    .iframe{
        text-align: center;
        padding-top: 1.25rem;
        border-radius: 5px;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        .iframe__titulo{
            font-family:$texto-estilouno;
            background-color:$color-secundario;
        }
        .iframe__video{
            @extend %flex;
            text-align: center;
        }
    }
}

/* estilos footer index */

footer{
    @include padding-y (0.5rem,1rem);
    .textofooter__h4{
        font-family:$texto-estilotres;
        display: flex;
        justify-content: center;
        text-align: center; 
    }
    .footerredeslogo__img{
        @extend %flex-footerlogoredes;
        a{
            img{
                @include medidas (2.5rem,2.5rem);
                margin: 1rem 1rem 0 1rem;
            }
        }
    }
}

/* mq pantalla tablet */
@media screen and (min-width:768px){
    header{
        nav{
            .navcontenedor-estilo{
                .estilo-titulo{
                    padding-left: 5%;
                }
            }
        }
    }

    .main__index{
        .contenedorindex{
            display: grid;
            @include grid (auto,auto);

            grid-template-areas: 
            "contenedor__noticiauno contenedor__noticiados"
            "contenedor__noticiatres contenedor__noticiacuatro"
            "contenedor__noticiacinco contenedor__noticiaseis";

            justify-content:center;
            gap:1rem;
            div{
                @include medidas (22rem,29rem);
                h2{
                    width: 22rem;
                }
                img{
                    @include medidas (20rem, 12rem);
                    margin:1rem;
                }
                h3{
                    font-size: 0.9rem;
                    width: auto;
                }
                p{
                    width: auto;
                    font-size: 0.89rem;
                }
            }

            .contenedor__noticiauno{
                grid-area: contenedor__noticiauno;
            }

            .contenedor__noticiados{
                grid-area: contenedor__noticiados;
            }

            .contenedor__noticiatres{
                grid-area: contenedor__noticiatres;
            }

            .contenedor__noticiacuatro{
                grid-area: contenedor__noticiacuatro;
            }

            .contenedor__noticiacinco{
                grid-area: contenedor__noticiacinco;
                
            }
            
            .contenedor__noticiaseis{
                grid-area: contenedor__noticiaseis;
            }

        }
    }

}


/* mq pantalla escritorio home */

/*header*/

@media screen and (min-width:1024px){

header{
    nav{
        .navcontenedor-estilo{
            h1{
                img{
                    height: 5rem;
                }
            }
            .divcontenedor-navbarlogos{
                .togglerindex-estilo{
                    @include padding-x (0.5rem, 0.5rem);
                    font-family:$texto-estilotres;
                    background-color: $color-toggler-mq;
                    margin-left: 10%;
                        li{
                            a{  font-size: 1rem;
                                transition: 0.5s;
                                }
                            a:hover{
                                @include hover (scale(1.1),0.3s)
                             }
                        }
                    }
                }
            }
        }
    }

/* mq de main index */

.main__index{
    .contenedorindex{
        background-image: url(../img/backgroundballgif.gif);
        display: grid;
        @include grid (auto,auto);
        display: flex;

        grid-template-areas: 
        "contenedor__noticiauno contenedor__noticiados contenedor__noticiatres"
        "contenedor__noticiacuatro contenedor__noticiacinco contenedor__noticiaseis";
        gap:1rem;
        div{
            @include margen-x (2rem,2rem);
            img{
                transition: 0.5s;
            }
            img:hover{
                @include hover (scale(1.1),0.3s);
            }

            p{
                font-size: 0.95rem;
            }
        
        }
        .contenedor__noticiauno {
            grid-area: contenedor__noticiauno;
        }

        .contenedor__noticiados {
            grid-area:contenedor__noticiados;
        }

        .contenedor__noticiatres{
            grid-area: contenedor__noticiatres;
        }

        .contenedor__noticiacuatro{
            grid-area: contenedor__noticiacuatro;
        }

        .contenedor__noticiacinco{
            grid-area: contenedor__noticiacinco;
        }

        .contenedor__noticiaseis{
            grid-area: contenedor__noticiaseis;
        }
    }    
}

/* mq section index */

.section__index{
    background-image: linear-gradient(rgb(51,51,51),white);
    display: block;
    padding-bottom: 1rem;
    div{
        .iframe__video{
            margin-top: 1rem;
        }
    }
  }
}