@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";

/* estilos paginas secundarias */

.header__pages{
    .contenedorheader__pages{
        background-color:$color-headerpages-mobile;
        height: auto;
        display: grid;
        flex-flow: row wrap;
        justify-items: center;
        div{
            .banderaheader__pages{
             border-radius: 20px;        
             margin: 0.5rem;
             }
             img{
             @include medidas (4.25rem, 4.25rem);
             border-radius: 0px;    
            }
        }
        .tittlepages__h1{
            h1{
            color: $color-textoprincipal;
            font-family: $texto-estilocuatro;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.4rem;
            border-radius: 10px;
            background-color: $color-principal;
            }
        } 
        nav{
            text-align: center;
            div{
                .divcontenedor-navbarlogos{   
                    ul{
                        li{
                            a{
                            transition: 0.5s;
                            .size-logos{
                               @extend %size-logos;
                                }
                            }
                        }
                    }
                }
            }    
        }
    }
}
    

/* estilos main pages */

.main__pages{
    background-color: $color-principal;
    .contenedorarticulos__pages{
        @extend %flex;
        @include padding-y (1rem, 2rem);
        height: auto;
        gap: 1rem;
        .articulouno__pages{
            @extend %propiedades-articulospages;
            h2{
                @extend %propiedades-subtituloarticulos;
            }
            p{
                padding: 0.5rem;
            }
        }
        .articulodos__pages{
            @extend %propiedades-articulospages;
            h2{
                @extend %propiedades-subtituloarticulos; 
            }
            ul{
                h3{
                    font-weight: bold;
                    font-size: 1.2rem;
                }
                li{
                    list-style: none;
                    text-align:initial;
                    margin-left: 6.25rem;  
                }
                .trofeologo__img{
                    margin-top: 1.25rem;
                    border-radius: 1.25rem;
                }
            }
        }  .campeoneslogo__pages{
            div{
                display: inline-block;
                flex-flow: row wrap;
                img{
                    @include medidas (3.2rem, 3.2rem)
                }
                h5{
                    font-weight: bold;
                    font-size: 0.85rem;
                }
            }
        }
        .articulotres__pages{
            @extend %propiedades-articulospages;
            h2{
                @extend %propiedades-subtituloarticulos;  
            }
            p{
                padding: 0.5rem;
            } 
            img{
                @include padding-x (2rem,2rem);
                border-radius: 20px;
                width: 100%;
            } 
        }
    }
}

/* section pages */ 
.contenedorsection__pages{
    h2{
        background-color: $color-secundario ;
        font-family: $texto-estilodos;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }
    .bestplayersimg__pages{
        display: block;
        font-family: $texto-estilouno;
        background-color:$color-principal;
        align-items: center;
        text-align: center;
        div{
            img{
                @include medidas (14rem, 14rem)
            }
        }
    }
}

.footer__pages{
    @include padding-y (0.5rem,1rem);
    .footerredeslogo__img{
        @extend %flex-footerlogoredes;
        filter:grayscale(100%);
    }
}

/*mq paginas secundarias */

@media screen and (min-width:768px){

    .header__pages{
        .contenedorheader__pages{
            div{
                img{
                    @include medidas (5.25rem,5.25rem);
                }
            }  
            .tittlepages__h1{
                h1{
                font-size: 1.8rem;
                }
             }      
        }
    }
    .main__pages {
        .contenedorarticulos__pages {
            .articulotres__pages{
                visibility: hidden;
                position: absolute;

            }
        }
    }
}
     

    

@media screen and (min-width:1024px){
    .body__pages{
        display:grid;
        @include grid (3% 2fr 2fr 2fr,auto);
        background-color: $color-principal;

        grid-template-areas: 

        "header__pages header__pages header__pages header__pages"
        "footer__pages main__pages main__pages main__pages"
        "footer__pages contenedorsection__pages contenedorsection__pages contenedorsection__pages"; 
        .header__pages{
            background-color:$color-headerpages-mq;
            grid-area: header__pages;
            .contenedorheader__pages{
                justify-content:space-between;
                display: flex;
                 align-items: center;
                @include margen-x (3rem,3rem);
                div{
                    img{
                    @include medidas (6.25rem, 6.25rem)
                    }
                }
                .tittlepages__h1{
                    h1{
                        font-size: 2.5rem;
                    }
                }
             nav{
                .divcontenedor-navbarlogos{
                    ul{
                        li{
                            a{
                                transition: 0.5s;
                              }
                            a:hover{
                                @include hover (scale(1.1),0.3s);
                            }
                        }
                    }
                }
            }
        }  

    }
        
        .main__pages {
            grid-area: main__pages;
            .contenedorarticulos__pages{
                gap:0;
                padding-left: 2rem;
                padding-bottom: 2rem;
                .articulouno__pages{
                    font-size: 1.2rem;
                    width: 25rem ;
                    h2{
                        font-size: 1.4rem;
                    }
                }
                .articulodos__pages{
                    font-size: 1.2rem;
                    width: 25rem;
                    h2{
                        font-size: 1.4rem;
                    }
                }
                ul{
                    h3{
                        font-size: 1.4rem;
                    }
                }
                .campeoneslogo__pages{
                    div{
                        img{
                            @include medidas (5rem,5rem);
                            transition: 0.5s;
                        }
                        img:hover{
                            @include hover (scale(1.1),0.3s);
                         }
                        h5{
                            font-size: 1rem;
                        }
                    }
                }
                .articulotres__pages{
                    font-size: 1.2rem;
                    width: 25rem ;
                    position: relative;
                    visibility: visible;
                    h2{
                        font-size: 1.4rem;
                    }
                    img{
                        transition: 0.5s;
                    }
                    img:hover{
                        @include hover (scale(1.1),0.3s);
                    }
                }     
            }
        }

        .contenedorsection__pages{
            grid-area: contenedorsection__pages;
        
            h2{
            @include margen-x (5rem,5rem)
            }
            .bestplayersimg__pages{
                display: flex;
                justify-content: center;
                div{
                    img{
                    transition: 0.5s;
                    margin-bottom: 0.7rem;
                    @include medidas (16rem,16rem)
                    }
                    img:hover{
                    @include hover (scale(1.1),0.3s);
                    }
                }
             }
        }
            .footer__pages{
             grid-area: footer__pages;
             writing-mode: vertical-lr;
             display: flex;
             align-items: center;
             position: relative;
             justify-content: space-around;
             margin: 3rem;
             .textofooter__h4{
                 transform: rotate(180deg);
                 margin-top: 1.8;
             }
             .footerredeslogo__img{
                 transition: 0.5s;
             }
             .footerredeslogo__img a:hover{
                 transform: rotate(360deg);
                 transition: 0.5s;
             }
     
         }
    
    }
}

    


